$themeBackground: #1B1D23;
$themeBackground2: #2A2D35;
$themeBackground3: #1B262D;
$themeBackground4: #1E2026;
$themeBackground5: #12161C;
$themeFontColor1: #fff;
$themeFontColor2: #5e6673;
$themeFontColor3: #acacac;
$themeFontColorPositive: #368624;
$themeFontColorNegative: #c15956;
$themePositiveAction: #4397D1;


$themeInputBorder: 1px solid transparent;
$themeBorderRadius: 5px;
$themeButtonBorder: 1px solid rgba(150,150,150, 0.4);

$themeFontWeightHeader: 600;
$themeFontWeightNormal: 500;
$themeFontWeightWeak: 400;
